<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.souka.projet">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".test"
            android:label="@string/title_activity_test"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ChoixChiffre"
            android:label="@string/title_activity_choix_chiffre"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Choix"
            android:label="@string/title_activity_choix"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Alphabet"
            android:label="@string/title_activity_alphabet"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Chiffre"
            android:label="@string/title_activity_chiffre"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".VideoAlphabet"
            android:label="@string/title_activity_video_alphabet"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".VideoChiffre"
            android:label="@string/title_activity_video_chiffre"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Test" />
        <activity
            android:name=".Photos"
            android:label="@string/title_activity_photos"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Histoires"
            android:label="@string/title_activity_histoires"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>